*{
    font-size: 10px;
}

.project-container{
    height: 98vh;
    width: 98vw;
    background-color: #3D0878;

}


.left-container{
    width: 36%;
    height: 100%;
    display: inline-block;
    margin-left: 13.5%;
    position: relative;
}

.right-container{
    width: 36%;
    height: 100%;
    display: inline-block;
    margin-left: 1%;
    position: relative;
}

.clock-container{
    height: 8rem;
    width: 21rem;
    background-image: url("./images/clock_logo.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 5rem;
}

.time-selection-container{
    width: 100%;
    height: 36%;
    border-radius: 0.8rem;
    position: absolute;
    top: 20rem;
    background-color: white;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}

.row{
    width: 100%;
    height: 19%;
    
}

.morning{
    position: relative;
}

.morning-image{
    display: inline-block;
    background-image: url(./wake_up.png);
    background-repeat: no-repeat;
    height: 70%;
    width: 7%;
    position: absolute;
    left: 10px;
    bottom: 2px;
}

.wakeup{
    display: inline-block;
    width: 90%;
    position: absolute;
    bottom: -3px;
    right: 0px;
    
}

.set{
    display: inline-block;
    color: #3D087B;
    font-size: 1.7rem;
    letter-spacing: 0.5px;
    margin-left: 35px;
    
    
}

#wakeup-selector{
    width: 45%;
    height: 100%;
    padding: 8px;
    font-size: 1rem;
    font-weight: 400;
    color: #3D087BDE;
    margin-left: 30px;
    border: 1.5px solid #EDEDED;
    border-radius: 5px;
    font-family: 'Manrope', sans-serif;
    
}

#wakeup-selector:focus{
    outline: 0;
}

option{
    font-size: 1.5rem;
}

.row-2{
    position: relative;
    height: 18%;
}

.lb-1{
    position: absolute;
    bottom: 10px;
    left: 27px;
    width: 0.3%;
    height: 50%;
    background-color: #C2C2C2;
}

.afternoon{
    position: relative;
}

.afternoon-image{
    display: inline-block;
    background-image: url(./images/lunch_time.png);
    background-repeat: no-repeat;
    height: 77%;
    width: 8%;
    position: absolute;
    left: 10px;
    bottom: 5px;
}

.lunch{
    display: inline-block;
    width: 90%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.set-lunch{
    display: inline-block;
    color: #3D087B;
    font-size: 1.7rem;
    letter-spacing: 0.5px;
    margin-left: 35px;
}

#lunch-selector{
    width: 45%;
    height: 100%;
    padding: 8px;
    font-size: 1rem;
    font-weight: 400;
    color: #3D087BDE;
    margin-left: 52px;
    border: 1.5px solid #EDEDED;
    border-radius: 5px;
    font-family: 'Manrope', sans-serif;
}

#lunch-selector:focus{
    outline: 0;
}


.row-4{
    position: relative;
    height: 17%;
}

.lb-2{
    position: absolute;
    bottom: 12px;
    left: 27px;
    width: 0.3%;
    height: 50%;
    background-color: #C2C2C2;
}

.night{
    position: relative;
    
}

.night-image{
    background-image: url(./images/nap_time.png);
    display: inline-block;
    background-repeat: no-repeat;
    height: 79%;
    width: 7%;
    position: absolute;
    left: 10px;
    bottom: 5px;
}

.dinner{
    display: inline-block;
    width: 90%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.set-dinner{
    display: inline-block;
    color: #3D087B;
    font-size: 1.7rem;
    letter-spacing: 0.5px;
    margin-left: 35px;
}

#dinner-selector{
    width: 45%;
    height: 100%;
    padding: 8px;
    font-size: 1rem;
    font-weight: 400;
    color: #3D087BDE;
    margin-left: 66px;
    border: 1.5px solid #EDEDED;
    border-radius: 5px;
    font-family: 'Manrope', sans-serif;
}

#dinner-selector:focus{
    outline: 0;
}

.set-time-button{
    display: inline-block;
    position: absolute;
    top: 43rem;
    width: 250px;
    height: 35px;
    color: white;
    letter-spacing: 0.5px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    background-image: linear-gradient(113deg, #6E54EC, #CB52F8, #FC5EFF, #F1A7C5);
    border: none;
    outline: none;
    border-radius: 8px;
}

.set-time-button:hover {
    background-image: linear-gradient(to left, #6E54EC, #CB52F8, #FC5EFF, #F1A7C5);
}

.dynamic-container{
    position: absolute;
    top: 48rem;
    width: 100%;
    height: 70px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.190);
}


#dynamic-block{
    padding: 3px;
    margin-top: 3px;
    margin-left: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    font-weight: 500;
    
}

#dynamic-block-4{
    padding: 3px;
    margin-left: 3px;
    font-size: 14px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

#dynamic-block-3{
    padding: 3px;
    margin-left: 3px;
    font-size: 14px;
    font-weight: 500;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


.time-container{
    position: absolute;
    top: 4rem;
    width: 100%;
    height: 90px;
    background-color: #FFFFFF;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
}

.tc{
    height: 65px;
    width: 60px;
    background-color: white;
    border-radius: 4px;
}

.tc-1{
    position: relative;
}

#time{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.5rem;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    color: #3D087B;
}

.tc-2{
    background-image: url(./images/timeline.png);
    text-align: center;
}

#hour{
    display: inline-block;
    font-size: 2.4rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    margin-top: 6px;
    color: #8A11BF;
    
}

.hours{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.7px;
    font-family: 'Barlow', sans-serif;
    margin-block-start: 5px;
    margin-block-end: 5px;
    color: #5F0089;
}


.tc-3{
    background-image: url(./images/timeline.png);
    text-align: center;
}

#minute{
    display: inline-block;
    font-family: 'Barlow', sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    margin-top: 6px;
    color: #8A11BF;
}

.minutes{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.7px;
    font-family: 'Barlow', sans-serif;
    margin-block-start: 5px;
    margin-block-end: 5px;
    color: #5F0089;
}

.tc-4{
    background-image: url(./images/timeline.png);
    text-align: center;
    font-family: 'Barlow', sans-serif;
}

#second{
    display: inline-block;
    font-size: 2.4rem;
    margin-top: 6px;
    color: #8A11BF;
}

.seconds{
    font-size: 1.5rem;
    letter-spacing: 0.7px;
    margin-block-start: 5px;
    margin-block-end: 5px;
    color: #5F0089;
}

.tc-5{
    background-image: url(./images/AM_svg.png);
    text-align: center;
    font-family: 'Barlow', sans-serif;
}

#am{
    display: inline-block;
    color: #FFFFFF;
    font-size: 2.2rem;
    letter-spacing: 0.5px;
    padding-top: 18px;
}

.colon-1{
    position: absolute;
    top: 16px;
    left: 177px;
    font-size: 4rem;
    color: #8A11BF;
}

.colon-2{
    position: absolute;
    top: 16px;
    left: 263px;
    font-size: 4rem;
    color: #8A11BF;
}

.under-1{
    position: absolute;
    top: 70px;
    left: 74.5px;
    width: 70%;
    height: 70px;
    border-radius: 8px;
    background-color: white;
    opacity: 0.7;
    z-index: 1;
}

.under-2{
    position: absolute;
    top: 79px;
    left: 99.5px;
    width: 60%;
    height: 70px;
    border-radius: 8px;
    background-color: white;
    opacity: 0.4;
    z-index: 0;
}

.main-container{
    position: absolute;
    top: 200px;
    width: 100%;
    height: 58.2%;
    border-radius: 8px;
    background-color: white;
}

.text-container{
    width: 100%;
    height: 10%;
}

#text{
    display: inline-block;
    color: #8E53F0;
    font-size: 2rem;
    letter-spacing: 1px;
    padding-top: 20px;
    padding-left: 20px;
    font-family: 'Fredoka One', cursive;
}

.image-container{
    width: 100%;
    height: 90%;
    background-image: url(./images/lunch_image.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
